.container h1,h2,h3 {
    text-align: center;
}

.container {
    background-color: rgb(93, 221, 253);
}

.poste {
    background-color: paleturquoise;
    border-radius: 2%;
    margin: 0;
    width: 100%;
    white-space: break-spaces;
}

.head {
    text-align: center;
}

.description {
    margin: 0;
    width: 100%;
    white-space: break-spaces;
}


.search {
    position: sticky;
    top: 0;
}
p  {
    word-wrap: normal;
}


@media screen and (max-width : 320px) {
    .poste {
        color: aqua;
    }
}

.society {
    color: tomato;
}



